.customer-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .form-container {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 400px;
  }
  
  .form-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 95%;
    margin: 5px 0;
  }
  
  .previous-button,
  .next-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    float: right;
    margin-top: 10px;
  }
  
  .previous-button:hover,
  .next-button:hover {
    background-color: #0056b3;
  }

  .previous-button {
    margin-left: 10px;
  }
  
  .error {
    color: red;
    font-weight: bold;
  }
  