.customer-form {
    padding: 5px;
    background-color: rgb(220, 220, 220);
    border: 2px solid #000000;
    border-radius: 5px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
}

.next-button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
}

.next-button:hover {
  background-color: #0056b3;
}

input {
    padding: 5px;
    margin: 3px;
    border: 2px solid #000000;
    border-radius: 5px;
    width: 400px;
    height: 30px;
}

.error {
    color: red;
    font-weight: bold;
}